<h1>Welcome to the WordCounter App</h1>

<h3>To use this application enter a word that you would like to be counted</h3>
<h4>After entering the word, you will be asked to enter a sentence that the WordCounter will use to count the number of times your Word appears!<h4>

<h3><a href="/game/new">Click here to begin!</a>
