<h1>WordCounter</h1>

<form action ="/game" method="post">
  <label for="word">What word would you like to search for in a sentence:</label><br>
  <input id="word" name="word" type="text"><br>
  <small>Word counter will count the number of times the word above appears in the sentence you enter below</small><br>
  <label for"sentence">Add a sentence, or block of text that the WordCounter can search through:</label><br>
  <input id="sentence" name="sentence" type="text"><br>
  <button type="submit">Submit</button>
</form>
